html, body {
    height: 100%;
}

body {
	background: #151515;
	margin: 0px;
	min-width: 900px;
	min-height: 900px;
	color: white;
	font: bold 12px "Fira Mono";
}

#board .cell {
	font-size: 12px;
	font-family: arial, sans-serif;
	border: 1px solid black;
	text-align: center;
}

.game-window {
  position: relative;
  min-height: 700px;
  height: 100%;
}

.game-window > div {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#setup {
	width: 700px;
	height: 50%;
}

.player-input {
	margin: 4px 0px;
}

.player-input .player-name {
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	color: #222;
	font-size: 13px;
	overflow: hidden;
	text-overflow: clip;
	z-index: 2;
	border-radius: 3px;
	height: 24px;
}

.player-input .dd {
	border-radius: 3px;
}

.player-input .dd .ddTitle {
    color: #000;
    background: #fff;
	border-radius: 1px;
}
	
#moneybarwrap {
    float: left;
	left: -20px;
    position: absolute;
    width: 0px;
}
#moneybar {
	border-radius: 5px;
	display: none;
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
    color: black;
    position: absolute;
    width: 160px;
    left: -170px;
}

#moneybar table {
	font-weight: bold;
	border-spacing: 5px;
}

#moneybar table .moneybarcell {
    border: 1px solid black;
    font-size: 1.1em;
    text-align: center;
}

#propertystats {
	margin-right: 110px;
}

#refresh {
	display: none;
	margin: 15px;
}

#noF5 {
	display: none;
}

#noscript {
	margin-left: 10px;
}

.hidden {
    display: none !important;
}

#board {
	padding: 2%;
	border: 2px solid black;
	border-spacing: 3px;
}

#board table {
	margin: 0 auto;
}

.window {
    cursor: move;
}
.panel {
    background-color: #4b4b4b;
    border-radius: 5px;
    padding: 5px;
    border: 0px solid black;
}
.panel > * {
    cursor: auto;
}

#control {
	position: absolute;
	z-index: 9;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-height: 215px;
}
#control table {
    display: inline-block;
}

#control #control-enlarge-wrap {
    float: right;
    margin-left: 20px;
    width: 0px;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    background: white;
    display: inline-block;
}

#control #control-enlarge {
    top: 50%;
    transform: translate(0, -50%);
}

#control td {
    vertical-align: top;
}

#quickstats, .moneybarcell, #owned, #landed, .statscell  {
    background: #363636;
    border: 1px solid #626262;
    border-radius: 2px;
    color: white;
    padding: 4px;
}

#quickstats {
    width: 78px;
    height: 46px;
    position: relative;
    text-align: center;
}

#quickstats .bottom {
    display: block;
    margin-top: 14px;
}

#quickstats .rating, #player-tickets .cardcount {
    margin: 0 5px;
}
#player-tickets .cardcount {
    display: inline-block;
    float: right;
    width: 50%;
    line-height: 21px;
}
#owned {
    width: 300px;
    height: 16px;
}

.moneybarcell.selected {
    background: white;
    color: black;
}

#control button, #popup button {
    background: linear-gradient(to bottom, #3e4c7b, #2b2f3f);
    border: 2px solid #34353b;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    font-size: 13px;
    padding: 2px 4px;
    margin: 0px;
    margin-right: 0px;
    height: 36px;
    line-height: 14px;
    min-width: 70px;
}

#control button {
    width: 88px;
}

#control button:hover, #popup button:hover {
    background: #aaa;
    cursor: pointer;
}

#control div {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#game-log {
	width: 307px;
	height: 120px;
	margin: 0px;
	padding-left: 1px;
	border: 1px solid gray;
    color: black;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	background-color: #FFFFFF;
	overflow-y: scroll;
}

#game-log .gain {
    color: green;
}
#game-log .loss {
    color: red;
}

#manage {
	width: 308px;
	border: 1px solid gray;
	display: none;
}

#option {
	border-bottom: 1px solid gray;
	background-color: white;
	display: none;
	background: white;
	vertical-align: middle;
	padding: 3px;
	text-align: center;
	min-height: 26px;
}

#buildings {
	margin: auto;
	height: 21px;
	font-size: 16px;
	font-weight: bold;
}

#buildings .house {
	width: 25px;
	height: 19px;
	vertical-align: top;
	float: none;
}

#buildings .hotel {
	width: 26px;
	height: 19px;
	vertical-align: top;
	float: none;
}

#owned .propertycellname {
	vertical-align: top;
}

#property {
	margin-right: 1px;
	background: white;
}

#trade {
	border: 2px solid black;
	display: none;
	width: 630px;
	margin: 15px auto;
	background-color: white;
	border-radius: 8px;
	padding: 2px;
	z-index: 14;
}

#trade-leftp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-leftp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-rightp-name {
	font-size: 13px;
	font-weight: bold;
}

#trade-rightp-name option {
	font-size: 13px;
	font-weight: normal;
}

#trade-leftp-money {
	width: 90%;
}

#trade-rightp-money {
	width: 90%;
}

#deedcolor {
	background: white;
	width: 100%;
	height: 48px;
}

#deedname {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
}

#menutable {
	padding: 0px;
	text-align: left;
	font-family: arial, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid blue;
	border-radius: 5px 5px 0px 0px;
	height: 30px;
	width: 99%;
	margin: 0px;
	background-color: #305BC9;
	/* background-image: -webkit-linear-gradient(bottom,#213EB2,#4787ED);
	background-image: -moz-linear-gradient(bottom,#213EB2,#4787ED); */
	background-image: url(images/menu_background.png);
	/* background-repeat: repeat-x; */
	overflow: hidden;
}

#menutable td {
	vertical-align: top;
}

#menu {
    display: inline-block;
}
#menu a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 8px;
}

#buy-menu-item {
	color: #FFFFFF;
	margin-left: 2px;
	border-left: none;
}

#trade-menu-item {
	color: #AAAAAA;
	border-right: none;
	margin-right: 2px;
}


#popup {
	width: 400px;
	min-width: 300px;
	margin: auto;
    padding: 20px;
    top: 0px;
    left: 0px;
}

#popupwrap {
	position: absolute;
	top: 255px;
	left: 0px;
	width: 100%;
	display: none;
	background-color: transparent;
	z-index: 13;
	-webkit-user-select: none;
	user-select: none;
}

.alert-text {
    text-align: center;
}

#popup-text div {
    margin-top: 10px;
}
#popup-text div > *  {
	margin: 5px;
}

/* #popupclose {
	display: none;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 12;
} */

#popupclose input {
	margin: 0px;
	background-color: red;
	height: 18px;
	width: 18px;
	padding: 0px;
}

#popupbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.5;
	display: none;
	z-index: 10;
}

#popupdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#stats {
	max-width: 940px;
	min-width: 454px;
	font-family: Arial, sans-serif;
	font-size: 14px;
    font-weight: normal;
	word-wrap: break-word;
	line-height: 1.5;
	display: block;
	z-index: 17;
	margin: auto;
	position: relative;
	top: 0px;
	left: 0px;
	-webkit-user-select: none;
	user-select: none;
}

#statswrap {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 100%;
	display: none;
	background-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

#statstext {
	overflow: hidden;
	min-height: 70px;
}

#statstext table {
    margin: 0;
    width: 100%;
}

.windowclose {
	display: block;
	position: absolute;
	top: -24px;
	right: -25px;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	overflow: visible;
	z-index: 17;
}

#statsbackground {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: .5;
	display: none;
	z-index: 16;
}

#statsdrag {
	width: 100%;
	height: 16px;
	position: absolute;
	top: -16px;
	cursor: move;
}

#deed {
	display: none;
	position: fixed;
	border: 2px solid black;
	width: 235px;
	height: 275px;
	background-color: white;
	z-index: 18;
	-webkit-user-select: none;
	user-select: none;
}

#deed td{
	border: none;
}

#deed-header {
	width: 215px;
	height: 48px;
	border: 1px solid black;
	margin: 9px;
	background-color: yellow;
	text-align: center;
	text-transform: uppercase;
	font-family: Calibri, Arial;
}

#deed-name {
	font-size: 15px;
	font-weight: bold;

}

#deed-table {
	margin: 9px;
	width: 217px;
	border-spacing: 1px;
}

#deed-mortgaged {
	font-family: Calibri, Arial;
	font-size: 16px;
	text-align: center;

}

#deed-mortgaged-name {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 30px 20px 20px;
}

#deed-special {
	font-family: Calibri, Arial;
	text-align: justify;
}

#deed-special-name {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-style: solid;
	border-width: 2px 0px;
	text-transform: uppercase;
	margin: 50px 20px 20px;
}

#deed-special-text {
	margin: 20px;
	font-size: 15px;
}

#deed-special-footer {
	margin: 0px 20px;
	width: 195px;
	position: absolute;
	bottom: 20px;
	font-size: 16px;
}

.menu-item:hover {
	/* background-image: -webkit-linear-gradient(bottom,#000080,#4787ED);
	background-image: -moz-linear-gradient(bottom,#000080,#4787ED); */

	background-image: url(images/menu_background_hover.png);
}

.menu-item {
	padding: 0px;
	border-collapse: collapse;
	text-align: center;
	display: table-cell;
	background-color: transparent;
	border: none;
	border-right: 2px solid white;
	height: 30px;
	min-width: 90px;
	width: 90px;
	max-width: 90px;
	overflow: hidden;
}

.die {
	display: none;
	margin: 0px 3px;
	float: left;
}

.die-no-img {


	border-radius: 6px;
	font-weight: bold;
	border: 2px solid black;
	padding: 5px 10px;
}

.cell {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
    overflow: hidden;
}

.cell.non-selectable {
    opacity: 0.1;
}
.cell.selectable {
    opacity: 0.7;
}
.cell.hovered {
    opacity: 1 !important;
}
.cell.selected {
    opacity: 1 !important;
    box-shadow: 0px 0px 20px #8dff80;
}

.cell-amandments {
    color: white;
    float: right;
    position: absolute;
    right: 3px;
    top: 3px;
    border: 1px solid #626262;
    border-radius: 2px;
    background: #36363680;
    padding: 0px 3px;
    background-repeat: no-repeat;
    background-position-x: right;
    cursor: default;
    -webkit-user-select: none;
	user-select: none;
    font-size: 13px;
    display: none;
}

.cell-amandments.up .cell-rating {
    background-image: url("images/ratingUp.png");
}
.cell-amandments.down .cell-rating  {
    background-image: url("images/ratingDown.png");
}
.cell-amandments.neutral .cell-rating  {
    background-image: url("images/ratingNeutral.png");
}
.cell-amandments .cell-paper  {
    background-image: url("images/paperIcon.png");
}

.cell-amandments span {
    height: 13px;
    width: 35px;
    display: inline-block;
    background-size: 13px 13px;
    margin: 2px;
    padding-left: 15px;
    background-repeat: no-repeat;
    float:left;
}

.board-center {
	width: 675px;
	border: none;
	vertical-align: bottom;
	background-repeat: no-repeat;
	background-size: auto 40px;
}

.board-corner {
	height: 120px;
    width: 120px;
    background-color: #ffe5b7;
    background-size: 100% 100%;
}

.board-side-field {
    width: 30px;
}

.board-side-field.enabled {
    background: white;
}

.board-top {
	width: 80px;
	height: 120px;
}

.board-bottom {
	width: 80px;
	height: 120px;
}

.board-left {
	height: 80px;
	width: 120px;
}

.board-right {
	height: 80px;
	width: 120px;
}

.cell:before {
    content: " ";
    width: 120px;
    height: 120px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.cell.board-top:before, .cell.board-top .cell-inner {
    transform: rotate(180deg);
}
    
.cell.board-left:before, .cell.board-left .cell-inner {
    transform: rotate(90deg);
}

.cell.board-right:before, .cell.board-right .cell-inner {
    transform: rotate(270deg);
}

.cell.board-bottom:before, .cell.board-bottom .cell-inner {
}

.cell.board-right:before, .cell.board-left:before {
    top: -20px;
    left: 0;
}

.cell.board-top:before, .cell.board-bottom:before {
    left: -20px;
    top: 0;
}

.enlarge {
	background-color: white;
	border: 2px solid black;
	text-align: center;
	font-size: 12px;
	font-family: arial, sans-serif;
	z-index: 15;
}

#enlarge {
    display: none;
    position: fixed;
}

.enlarge.board-bottom {
    width: 140px;
    height: 210px;
}

.enlarge.board-corner {
    width: 210px;
    height: 210px;
}

.enlarge:before {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
}

.cell .cell-inner {
    width: 80px;
    height: 120px;
    position: relative;
}

.cell .cell-card {
    top: 20%;
    width: 100%;
	height: 80%;
    z-index: 2;
    position: absolute;
    color: black;
    font-weight: normal;
}

.cell.board-left .cell-inner, .cell.board-right .cell-inner {
    margin: -20px 20px;
}

.cell .cell-card > *{
    display: block;
}

.cell .cell-card span {
    font-size: 11px;
    margin: 0% auto 2%;
    cursor: default;
    font-stretch: extra-condensed;
}

.cell .cell-card .cell-goal {
    max-width: 70%;
}
.cell .cell-card .cell-money {
    max-width: 30%;
}

.cell .cell-card .cell-cat {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0% auto 5%;
}

.cell .cell-card .cell-info-line {
    margin: 0 3%;
    overflow: hidden;
    padding: 0 2%;
    display: none;
}

.enlarge.cell .cell-card .cell-info-line {
    display: block;
}

.cell .cell-card .fa {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 20px 0 0px;
    padding: 0;
    opacity: 0.1;
}

.cell .cell-card .cell-goal {
    float: left;
}

.cell .cell-card .cell-money {
    float: right;
}

.enlarge .cell-inner {
    width: 100%;
    height: 100%;
}

.enlarge .cell-card .cell-cat {
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0% auto 5%;
}

.enlarge .cell-card span {
    font-size: 1.3em;
}

.enlarge .cell-amandments {
    display: block;
}

.moneybarcell {
	width: 100%;
}

.propertycellcheckbox {
	width: 20px;
	height: 20px;
	border: none;
	vertical-align: middle;
}

.propertycellcolor {
	padding: 0px;
	width: 20px;
	height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.propertycellname {
	height: 20px;
	width: 250px;
	border: none;
	cursor: default;
	text-align: left;
	vertical-align: middle;
}

.propertycelldeed {
	width: 18px;
	height: 20px;
	border: 1px solid grey;
	cursor: pointer;
	display: none;
}

.statscellcolor {
	padding: 0px;
	width: 22px;
	height: 20px;
	border: none;
}

.statscell {
    padding-left: 10px;
    text-align: left;
    padding-bottom: 10px;
}

.statscellheader {
	margin-top: 6px;
    display: block;
    font-weight: bold;
}

.statscell ul {
    margin: 0px;
}

.statsplayername {
	font-weight: bold;
    text-align: left;
	font-size: 24px;

}

.trade-cell {
	border: none;
	border-radius: 3px;
	width: 308px;
	height: 26px;
	vertical-align: middle;
}

.chip-dock {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    transform: rotate(180deg);
    z-index: 5;
}

ul.russian-parties span::before, div.russian-parties .ddTitleText .ddlabel::before, .party-icon, .player-chip, .cell-owner {
    margin-right: 5px;
    border: 1px solid black;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: inline-block;
}

.enlarge .player-chip, .enlarge .cell-owner {
    width: 34px;
    height: 34px;
}

.cell-owner {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
}

.player-chip {
    float: right;
    width: 28px;
    height: 28px;
    border: 2px solid black !important;
    border-radius: 20px;
    box-shadow: #00000080 0px 0px 5px 1px;
    margin: 0 1px;
}

.bill-state-green {
    background: #0d0;
}

.bill-state-yellow {
    background: yellow;
}

.cell-spec {
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin: 0 !important;
}

.cell-spec.active {
    height: 7px;
    background: #00ffbf;
}

#stats .icon {
    margin-right: 4px;
}

.icon {
    width: 16px;
    height: 16px;
    display: block;
    background-size: 100% 100%;
}

.people-icon {
    background-image: url(images/people_icon.png);
}
.assembly-icon {
    background-image: url(images/assembly_icon.png);
}
.money-icon {
    background-image: url(images/money_icon.png);
}

.left {
    float: left;
}
.right {
    float: right;
}

.card {
    width: 32px;
    height: 21px;
    display: inline-block;
    opacity: 0.5;
}
a.card {
    cursor: pointer;
    opacity: 1;
}

.jailCard {
    background-image: url(images/jailCardIcon.png);
}
.rejectBillCard {
    background-image: url(images/rejectBillCardIcon.png);
}
.moveBillCard {
    background-image: url(images/moveBillCardIcon.png);
}
.createBillCard {
    background-image: url(images/createBillCardIcon.png);
}
.gotoCard {
    background-image: url(images/gotoCardIcon.png);
}


#lobbyscreen {
    border-spacing: 0px;
    position: absolute;
    top: 255px;
    left: 0px;
    width: 100%;
    display: none;
    background-color: transparent;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}
#lobbyscreen .panel {
    margin: auto;
    padding: 20px;
    top: 0px;
    left: 0px;
    display: table;
    padding: 30px;
    position: relative;
}
#lobbyscreen table {
    background-color: #222;
    padding: 5px;
    float: left;
}
#lobbyscreen td {
    padding: 0px;
    vertical-align: top;
}
#lobbyscreen td div {
    width: 30px;
    height: 30px;
    pointer-events: none;
}
#lobbyscreen th span{
    width: 30px;
    text-align: center;
    display: block;
}
#lobbyscreen td div.last {
    margin-right: 8px;
}
#lobbyscreen td.selected {
    cursor: pointer;
}
#lobbyscreen td.selected.used {
    cursor: not-allowed;
}
#lobbyscreen td.selected div:before {
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    opacity: 0.35;
    border-radius: 6px;
    background: black;
    top: 5px;
    left: 5px;
    position: relative;
}
#lobbyscreen .level-description {
    margin-top: 7px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: block;
    max-width: 148px;
}
#lobbyscreen .positive {
    background-color: #243a24;
}
#lobbyscreen .negative {
    background-color: #551919;
}

.protected:before {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/shieldIcon.png);
    opacity: 0.6;
    background-size: 100% 100%;
}
.pay-info {
    margin: 0px 0px 10px 0px;
}
.vote {
    margin: 5px;
}
.payUp, .voteUp {
    color: #84ff84;
}
.payDown, .voteDown {
    color: #ff4b4b;
}
.payment-key {
    width: 250px;
    display: inline-block;
    text-align: left;
}
.payment-amount {
    display: inline-block;
    text-align: right;
    width: 60px;
}

#titledescription {
    bottom: 20%;
    left: 20%;
    position: absolute;
    font-size: 20px;
}
#hugetitle {
    text-align: center;
}
#hugetitle h1 {
    font-size: 10em;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#hugetitle h3 {
    font-size: 3em;
}

#hugetitle button {
    background: white;
    border: 2px solid #dbdbdb;
    padding: 10px 20px;
    width: 200px;
    font-size: 2em;
}